---
layout: nil
---

{% include css/reset.css %}

{% include css/feed.css %}

body {
  background-color: #2E3436;
  margin: 1em 0;

  font-family: monospace;
  color: #CCCCCC;
  line-height: 1.4;
}

a {
  color: #EEEEEE;
  text-decoration: none;
  border-bottom: 1px solid;
}

a:hover,
a:focus {
  background-color: #555555;
}

a:visited {
  color: #CCCCCC;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

#tagline,
.separator,
h1.entry-title,
.meta,
#content,
#footer {
  margin: 0 auto;
  width: 800px;
}

#content {
  margin: 1.4em auto;
}

#content h2,
#content h3,
#content h4 {
  margin: 2.8em 0 1.4em;
}

#content p {
  margin: 1.4em 0;
}

#footer {
  font-size: 0.8em;
  margin: 1.4em auto;
}


{% include css/discuss.css %}


/*
 * Styles for elements changed by JavaScript
 */

/* don't show them until script adds stuff */
.markdown { display: none; }

.markdownized div.markdown,
.markdownized ul.markdown   { display: block; }
.markdownized span.markdown { display: inline; }


.markdownized .markdown { color: #AAAAAA; }

.markdownized #tagline { margin-bottom: 1.2em; }

.markdownized .meta .text { display: none; }

.markdownized .meta abbr,
.markdownized .meta .author { display: block; }

.markdownized { overflow-x: hidden; } /* hide scrollbar for long links in list */

.markdownized ul.markdown.links {
  margin-left: 2em;
  width: 100em;
}

body.ie6.markdownized ul.links {
  width: 750px
}

body.ie6.markdownized ul.links li {
  width: 750px;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
