<div id="feed"><a href="http://feeds.feedburner.com/itsabodybuildingblog" title="Subscribe to the articles feed">Subscribe to the articles feed</a></div>

<div id="footer">
  <p>Copyright &copy; Bartek Szopka</p>
  <p>Contents of this site are protected with a <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons License</a>. Some rights are reserved.</p>
  <p>Made with the finest <a title="Valid XHTML 1.0 Strict" href="http://validator.w3.org/check?uri=referer">XHTML</a> and prettiest <a title="Valid CSS 2.1" href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> with addition of mighty <a title="Microformats" href="http://microformatique.com/optimus/?uri=www.itsabodybuildingblog.com">Microformats</a>.</p>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if (typeof _gat != "undefined") {
  var pageTracker = _gat._getTracker("UA-4033526-2");
  pageTracker._initData();
  pageTracker._trackPageview();
}
</script>
<!-- end of Google Analytics -->
</body>
</html>
