/*
 * Discussion
 */

#discuss {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Verdana, Arial, sans-serif;
  padding: 1em;
}

#discuss a {
  color: #224466;
  text-decoration: none;
}

#discuss a:visited {
  color: #555666;
}

#discuss a:hover,
#discuss a:focus {
  color: #224466;
  background-color: #E4F2FF;
}

#discuss h2,
#discuss h3,
#discuss h4 {
  font-family: Futura,"Century Gothic","URW Gothic L",Helvetica,sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 1em 0;
  border-bottom: 1px solid;
  padding-bottom: 2px;
}

#discuss h2 { font-size:1.5em; }
#discuss h3 { font-size:1.3em; }
#discuss h4 { font-size:1.0em; }

#discuss p {
  line-height: 1.4;
}

#discuss h2,
#discuss #disqus_thread {
  width: 700px;
  margin: 0 auto 0.5em;
  position: relative;
}

#discuss #disqus_thread.loading #dsq-content {
  display: none;
}

#discuss #dsq-content .dsq-dc-logo {
  position: absolute !important; /* override default disqus style */
  right: 0;
}

