{% include html_head.html %}

<h1 class="entry-title"><a href="{{ page.url }}" rel="bookmark" title="Link to this article">{{ page.title }}</a></h1>
<h2 id="tagline"><span>it's an article on </span><a href="/">a &lt;body/&gt;building blog</a></h2>

{% assign post = page %}
{% include post_meta.html %}

<div id="content" class="entry-content">
{% if page.summary %}
<div class="entry-summary">
{{ page.summary | markdown }}
</div>
<a name='more' id='more'></a>
{% endif %}
{{ content | replace:"<!--more-->","<a name='more' id='more'></a>" }}
</div>

<div id="disqus_thread">
  <noscript>
  <h3>Discuss this article</h3>
  <p>Comments on this blog are <a href="http://disqus.com" class="dsq-brlink">powered by <span class="logo-disqus">Disqus</span></a>. JavaScript in your browser is turned off, but you can join <a href="http://disqus.com/forums/itsabodybuildingblog/?id=ref">the discussion thread</a>.</p>
  </noscript>
</div>
<script type="text/javascript" src="http://disqus.com/forums/itsabodybuildingblog/embed.js"></script>

{% include html_foot.html %}
