{% include html/intro.html %}

<h1 class="entry-title"><a href="{{ page.url }}" rel="bookmark" title="Link to this article">{{ page.title }}</a></h1>
<p id="tagline"><span>it's an article on </span><a href="/">a &lt;body/&gt;building blog</a></p>

{% assign post = page %}
{% include html/post_meta.html %}

<div id="content" class="entry-content">
{% if page.summary %}
<div class="entry-summary">
{{ page.summary | markdown }}
</div>
<a name='more' id='more'></a>
{% endif %}
{{ content | replace:"<!--more-->","<a name='more' id='more'></a>" }}
</div>

<div id="discuss">
  <h2>Discuss</h2>
  <div id="disqus_thread">
  <p>Did you like it? Do you have anything to add? <a href="http://disqus.com/forums/itsabodybuildingblog/?id=ref" rel="disqus">Join the discussion</a> and tell us about it, or just check what others have to say.</p>
  </div>
</div>

{% include html/outro.html %}
